.custom-form-control {
  border: 2px solid #495866; /* Bootstrap gray color */
  border-radius: 5px;
  padding: 10px;
  background-color: #1b2229; /* Bootstrap light color */
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-form-control:focus {
  border-color: #007bff; /* Bootstrap primary color */
  background-color: #4b85be; /* Bootstrap secondary light color */
  outline: none;
}

.custom-form-label {
  font-weight: bold;
  color: #3a6fa5; /* Bootstrap gray-dark color */
}

.form-container {
  background-color: #404591; /* White background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(75, 63, 63, 0.1);
}
